*{
	margin:0;
	padding:0;
	outline:none;
    border:0
}
a{
	text-decoration: none;
}
a:link    { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover   { text-decoration: none;}
a:active  { text-decoration: none;}
body {
    font-family: "黑体";
    background-color: #ffffff;
}

/*手机显示导航*/
.mobile_screen {
    width: 100%;
    position: absolute;

    overflow: hidden;
  }
#content {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }

.nav {
    position: absolute;
    z-index: 100;
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .nav--active .nav {
    opacity: 1;
    background-color: rgb(122, 122, 122);
  }
  .nav__list {
    margin: 0;
    padding: 10px;
  }
  .nav__item {
    list-style-type: none;
    margin-top: 3%;
    text-align: left;
  }
  .nav__link {
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }

  .nav__trigger {
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    right: 10px;
    top: 10px;
    z-index: 200;
  }
  .nav--active .nav__trigger {
    opacity: 0.5;
  }
  .nav__icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: black;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .nav__icon:before,
  .nav__icon:after {
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    position: absolute;
    background: black;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    transition-property: margin, transform, -webkit-transform;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
  }
  .nav__icon:before {
    margin-top: -10px;
  }
  .nav__icon:after {
    margin-top: 10px;
  }
.mobile .nav {
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .mobile .nav--active .nav {
    -webkit-transform: translateX(65%);
            transform: translateX(65%);
  }
  .mobile .content {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .mobile .mobile_screen {
    background-color: rgb(122, 122, 122);
  }
  .mobile .nav--active .content {
    -webkit-transform: scale(0.9) translateX(-90%);
            transform: scale(0.9) translateX(-90%);
  }
  .mobile .navi__icon {
    background: rgba(0, 0, 0, 0);
  }
  .mobile .navi__icon:before {
    margin-top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .mobile .navi__icon:after {
    margin-top: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .mobile .nav--active .nav__icon {
    background: rgba(0, 0, 0, 0);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .mobile .nav--active .nav__icon:before {
    margin-top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .mobile .nav--active .nav__icon:after {
    margin-top: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

#nav{
    font-family: "微软雅黑";
	margin: 0px auto;
	background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
	text-align:center;
	width:100%;
	height:50px;
	box-shadow:-3px 2px 10px #3d3d3d;
}
/*顶部文字*/
#title{
	padding-left: 137px;
	line-height: 50px;
	font-size: 2em;
}
/*显示当前用户名字*/
#name{
	float: right;
	font-size: 20px;
	margin-right: 35px;
	margin-top: 15px;
    color:#3d3d3d;
    font-family: "黑体";
}
/*表单区域*/
#info{
    margin: 10% auto;
    width: 100%;
    background-color: #ffffff;
}
#pan-body{
  width: 500px;
  margin: 0px auto;
}
.panel-default{
  width: 500px;
}

.info-all{
  width: 400px;
  height: 40px;
  margin: 0px auto;
  font-size: 20px;
}
.td1{
  width: 120px;
  height: 30px;
  padding-top: 3px;
  float: left;
}
.td2content{
  padding-top: 4px;
  text-align: center;
  width: 280px;
  height: 30px;
  float: left;
}
.btn{
  margin-left: 10px;
  float: left;
  width: 100px;
  height:35px;
}
.btn-quit{
  width: 220px;
  margin: 0px auto;
}


#form{
  width: 325px;
  margin: 0% auto;
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #888888;
}
    @media (max-width: 600px) {
        #nav{
            height: 60px;
        }
        #title{
            padding: 0px;
            line-height: 40px;
            font-size: 20px;
        }
        #name{
            float: none;
            margin: 0px;
            font-size: 15px;
            color:#949697;
        }
        #pan-body{
          width: 350px;
          margin: 0px auto;
        }
        .panel-default{
          width: 350px;
        }
        
        .info-all{
          width: 350px;
          height: 40px;
          margin: 0px auto;
          font-size: 20px;
        }
        .td1{
          width: 120px;
          height: 30px;
          padding-top: 3px;
          float: left;
        }
        .td2content{
          text-align: center;
          width: 200px;
          height: 30px;
          float: left;
        }

    }